/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet */
@media (min-width: 741px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .mt-m-1 {
        margin-top: 1rem;
    }

    .mt-m-2 {
        margin-top: 2rem;
    }

    .rating {
        right: -8%;
    }

    .fast-delivery {
        left: -8%;
    }

    .app {
        overflow: hidden;
    }

    .intro__image {
        margin-top: 2rem;
    }

    .facebook-page {
        width: 250px;   
        display: block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer__users-wrapper{
        margin: 1.5rem auto;
    }

    .footer__fanpage{
        margin-top: 2rem;
        text-align: center;

        
    }

    
}

/* Mobile */
@media (max-width: 740px) {
    :root{
        --sidebar-width:100%;
    }

    .hide-on-mobile {
        display: none;
    }

    .mt-c-1 {
        margin-top: 1rem;
    }

    .mt-c-2 {
        margin-top: 2rem;
    }

    .app {
        padding: 0.5rem;
    }

    .intro__sologan {
        text-align: center;
    }

    .intro__product {
        transform: translateY(0);
    }

    .intro__image {
        margin-top: 1.5rem;
    }

    .intro__product-item {
        margin-top: 1rem;
    }

    .intro__product-cart {
        width: 60px;
        height: 60px;
    }

    .intro__product-cart>span {
        width: 20px;
        height: 20px;

    }

    .intro__buttons {
        gap: 0;
        justify-content: space-around;
    }

    .mobile-nav {
        --mobile-nav-width: 100%;
    }

    .sign-up__content {
        padding: 0 1.5rem;
    }

    .intro__product-image {
        height: 360px;
    }

    .restaurants__toolbar {
        margin-top: 2rem;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }

    .footer__lower {
        text-align: center;
        margin-bottom: 2rem;
    }

    .login-wrapper{
        padding: 0 0.75rem;
    }  

    .detail{
        display: flex;
        flex-direction: column;
    }

    .detail__description{
        margin-top: 0.75rem;
    }
    
    .minimize-btn{
        right: 2rem;
        top: 1.5rem;
    }

    .sidebar.minimize{
        left: -100px;
    }

    .sidebar.minimize > .minimize-btn{
        right: -7rem;
        
    }

    .admin-container{
        width: 100%;
        left: 0;
    }

    
}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .tools {
        display: none;
    }

    .app__container {
        padding: 1rem;
    }

    .nav {
        display: none;
    }

    .sign-up {
        padding-top: 2rem;
    }

    .sign-up__heading {
        text-align: center;
    }

    .sign-up__wrapper {
        width: 90%;
        position: relative;
        margin: 0 auto;
        border-radius: 2.8rem;
        height: fit-content;
        padding: 1rem 0 4rem 0;
    }

    .sign-up__content {
        /*  padding-top: 2rem; */
    }

    .sign-up__socials,
    .log-in__socials {
        flex-direction: column;
        gap: 1rem;
    }

    .sign-up__socials-google,
    .sign-up__socials-facebook {
        justify-content: center;
    }
}